.container
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    a.navbar-brand(href='/') anti-996
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.mr-auto
        li.nav-item.active
          a.nav-link(href='#')
            | 996的公司
            span.sr-only (current)
        li.nav-item
          a.nav-link(href='#') 抵制996的公司
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
            | 996 的危害
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item(href='#') 头发越来越少
            a.dropdown-item(href='#') 肚子越来越大
            .dropdown-divider
            a.dropdown-item(href='#') 儿子越来越像老王
        li.nav-item
          a.nav-link(href='#') 颈椎病康复指南

      ul.navbar-nav
        li.nav-item
          a.nav-link(href='#') 提交996的公司
        li.nav-item
          a.nav-link(href='#') 提交抵制996的公司
