html
  head
    title anti-996
    link(rel='stylesheet', href='https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.css')
    link(rel='stylesheet', href='style.css')
  body
    include _nav.pug

    .container
      .row
        include _item.pug
        include _item.pug
        include _item.pug
        include _item.pug
        include _item.pug

    include _footer.pug


  script(src='https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js')
  script(src='https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.js')
